.picture-viewer {
    text-align: center;
    padding: 4px;
    padding-top: 80px;

    .pic-container {
        display: flex;
        flex-wrap: wrap;
    }
    .picture-entry {
        img { transition: 300ms ease all; 
        user-select: none;}
        display: inline-block;
        position: relative;
        flex-grow: 1;
        margin: 12px;
        &:hover {
            cursor: pointer;
            img { opacity: 0.6; }
            .delete-icon {
                color: #FFFFFFFF;
            }
        }
        .date-label {
            text-align: center;
        }
        
    }
}